<div class="articles-wrap">

  <h1 class="article__title"><%= @article.title %></h1>
  <div class="article__edit">
    <%= link_to '編集', edit_article_path(@article) %>
  </div>

  <div class="article__body">
    <p class="article__paragraph">
      <%= @article.text %>
    </p>
  </div>

  <div class="comments-wrap">
    <%= render @article.comments %>
  </div>

  <div class="comment-form-wrap">
    <strong class="com__text-strong">コメントを投稿</strong>
    <%= render "comments/form" %>
  </div>

</div>
