<!DOCTYPE html>
<html>
  <head>
    <title>iwashi-blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-nav">
        <div class="header-nav__logo"><a href="/articles">iwashi-blog</a></div>
        <a href="/articles/new" class="btn btn__header">投稿</a>
      </div>
    </header>

    <div class="container">
    <%= yield %>
    </div>

    <footer class="footer">
      <div class="footer-nav">
        <div class="powered-by">powered by <a href="https://twitter.com/iwashi0830" class="com__text-anchor">@iwashi0830</a></div>
        <ul class="footer-nav__menu">
          <li><a href="/articles" class="com__text-anchor">記事一覧</a></li>
          <li><a href="/articles/new" class="com__text-anchor">投稿</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
